main
    div(class="container")
        div(class="card-panel")
            h1(id="appTitle" class="center-align") Twitch.tv Channel Status Viewer           
            div(class="row")
                div(class="col s12")
                    ul(class="tabs")
                        li(class="tab col 3")
                            a(id="allButton" class="filterButton" href="#") All
                        li(class="tab col 3")
                            a(id="onlineButton" class="filterButton" href="#") Online
                        li(class="tab col 3")
                            a(id="offlineButton" class="filterButton" href="#") Offline
            div(id="channels")
            

    